<robot name = "robot">
    <link name="Cube-20">
        <inertial>
            <origin xyz="-20 0.3524856228456944 0.012525143224448154" rpy="0 0 0"/>
            <mass value="0.0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="-20 0.3524856228456944 0.012525143224448154" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.025050286448896307" />
            </geometry>
            <material name="dark_gray">
                <color rgba="0.7 0.7 0.7 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-20 0.3524856228456944 0.012525143224448154" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.025050286448896307" />
            </geometry>
        </collision>
    </link>
</robot>