<robot name = "robot">
    <link name="Cube-17">
        <inertial>
            <origin xyz="-17 0.60172832639931 0.05224061434458154" rpy="0 0 0"/>
            <mass value="0.0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="-17 0.60172832639931 0.05224061434458154" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.10448122868916308" />
            </geometry>
            <material name="gray">
                <color rgba="1 1 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-17 0.60172832639931 0.05224061434458154" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.10448122868916308" />
            </geometry>
        </collision>
    </link>
</robot>