<robot name = "robot">
    <link name="Cube-7">
        <inertial>
            <origin xyz="-7 0.8359175998754351 0.056578620562678934" rpy="0 0 0"/>
            <mass value="0.0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="-7 0.8359175998754351 0.056578620562678934" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.11315724112535787" />
            </geometry>
            <material name="gray">
                <color rgba="1 1 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-7 0.8359175998754351 0.056578620562678934" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.11315724112535787" />
            </geometry>
        </collision>
    </link>
</robot>