<robot name = "robot">
    <link name="Cube-9">
        <inertial>
            <origin xyz="-9 0.7795717099305562 0.04334609385809584" rpy="0 0 0"/>
            <mass value="0.0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="-9 0.7795717099305562 0.04334609385809584" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.08669218771619168" />
            </geometry>
            <material name="gray">
                <color rgba="1 1 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-9 0.7795717099305562 0.04334609385809584" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.08669218771619168" />
            </geometry>
        </collision>
    </link>
</robot>