<robot name = "robot">
    <link name="Cube-13">
        <inertial>
            <origin xyz="-13 0.2313521380787783 0.025046510856040132" rpy="0 0 0"/>
            <mass value="0.0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="-13 0.2313521380787783 0.025046510856040132" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.050093021712080264" />
            </geometry>
            <material name="gray">
                <color rgba="1 1 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-13 0.2313521380787783 0.025046510856040132" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.050093021712080264" />
            </geometry>
        </collision>
    </link>
</robot>