<robot name = "robot">
    <link name="Cube-15">
        <inertial>
            <origin xyz="-15 0.8662935875797447 0.09583431535817932" rpy="0 0 0"/>
            <mass value="0.0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="-15 0.8662935875797447 0.09583431535817932" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.19166863071635865" />
            </geometry>
            <material name="gray">
                <color rgba="1 1 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-15 0.8662935875797447 0.09583431535817932" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.19166863071635865" />
            </geometry>
        </collision>
    </link>
</robot>