<robot name = "robot">
    <link name="Cube-10">
        <inertial>
            <origin xyz="-10 0.7464128990158287 0.03437735258787008" rpy="0 0 0"/>
            <mass value="0.0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="-10 0.7464128990158287 0.03437735258787008" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.06875470517574016" />
            </geometry>
            <material name="dark_gray">
                <color rgba="0.7 0.7 0.7 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-10 0.7464128990158287 0.03437735258787008" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.06875470517574016" />
            </geometry>
        </collision>
    </link>
</robot>