<robot name = "robot">
    <link name="Cube-23">
        <inertial>
            <origin xyz="-23 0.04247796286759664 0.03506808608786747" rpy="0 0 0"/>
            <mass value="0.0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="-23 0.04247796286759664 0.03506808608786747" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.07013617217573494" />
            </geometry>
            <material name="gray">
                <color rgba="1 1 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-23 0.04247796286759664 0.03506808608786747" rpy="0 0 0"/>
            <geometry>
                <box size="1 600 0.07013617217573494" />
            </geometry>
        </collision>
    </link>
</robot>